<h1> The Gossip Project : Team </h1>

<p> This app was created by 2 of the best developpers ever (or not) </p>
<section>
    <div>
        <h2> Olivia </h2>
        <img src="app/assets/config/images/olivia.jpg" alt="picture of Olivia" />
        <p> Olivia is a 24y.o Alsacian student developper at The Hacking Project, she created The Gossip Project to become rich and travel around the world. Let's hope it's gonna work out for her. </p>
    </div>
    <div>
        <h2> Fufu </h2>
        <img src="app/assets/config/images/fufu.jpg" alt="picture of Fufu" />
        <p> Fufu is a 2 and a half champagne ferret. He is really just here for emotionnal support. Just look at this cuteness level. </p>
    </div>
</section>
