<h1 class="text-center pt-5"> The Gossip Project : Team </h1>

<p class="text-center pt-2"> This app was created by 2 of the best developpers ever (or not) </p>

<section id="section_team">
    <div class="card border-0" style="width: 25rem;">
        <%= image_tag("olivia.JPG", :alt => "picture of olivia", :class => "style_img") %>
        <div class="card-body-team">
            <h5 class="card-title text-center mt-4">Olivia</h5>
            <p class="card-text text-justify">Olivia is a 24y.o Alsacian student developper at The Hacking Project, she created The Gossip Project to become rich and travel around the world. Let's hope it's gonna work out for her.</p>
        </div>
    </div>
    <div class="card border-0" style="width: 25rem;">
        <%= image_tag("fufu.png", :alt => "picture of fufu", :class => "style_img_fufu") %>
        <div class="card-body-team">
            <h5 class="card-title text-center mt-4">Fufu</h5>
            <p class="card-text text-justify">Fufu is a 2 and a half champagne ferret. He is really just here for emotionnal support. Just look at this cuteness level.</p>
        </div>
    </div>
</section>
